body {
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
}

main .card {
  width: 450px;
}

main .card .container {
  padding: 42px;
}

main .card .description {
  margin-bottom: 25px;
  line-height: 28px;
}

main .card .plan {
  justify-content: space-around;
}

main .card .plan-info {
  margin-right: 80px;
}

main .card .change-plan:hover {
  cursor: pointer;
  text-decoration: none;
  color: #766cf1;
}

main .card .main-button {
  margin-bottom: 30px;
}

main .card .main-button:hover {
  cursor: pointer;
  background-color: #766cf1;
}

main .card .cancel {
  color: rgb(114, 114, 114);
  font-weight: 700;
}

main .card .cancel:hover {
  cursor: pointer;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}
